*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.footer{
    background-color: lightblue;
    height: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    justify-content: center;
}
.fbox{
    padding:5px 0px;
}