body::before{
    content: "";
    position: fixed;
    z-index: -1;
    background: url('../images/login2.jpg') no-repeat center center/cover;
    height: 110vh;
    width: 100vw;
    opacity: 0.8;
}