*{
    margin:0px;
    padding:0px;
}
body{
    background: blanchedalmond url(../images/table_bakcground.jpg) no-repeat center fixed;
}
.container{
    width:80vw;
    margin:10px auto;
    min-height: 100vh;
    /* background-color: blueviolet; */
}
table{
    width:100%;
    border-collapse: collapse;
    background-color: rgb(224, 205, 205,0.8);
}
th,td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
    background-color: #684141;
}
a{
    color:rgb(4, 10, 87);
    text-decoration: none;
}
button{
  width:45px;
  height: 20px;
}
